---

---
@import "main";

$primary-color: #0072fd;
$secondary-color: white;

body {
    // font-family: 'Fira Sans', sans-serif;
    // font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto Mono', monospace;
    // font-family: 'Dosis', sans-serif;
    margin: 0px 20%;
    background-color: #ffffff;
}

.header {
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 5px;
    margin-right: 5px;
    // font-family: 'Libre Baskerville', serif;

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    .header-title {
        cursor: pointer;
        margin: 5px;
        float: left;
        line-height: 22px;
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 10px;

        &:hover {
            background: $primary-color;
            color: $secondary-color;
        }
    }

    .header-menu-item {
        cursor: pointer;
        float: right;
        padding: 10px;
        border: 1px solid $primary-color;
        color: $primary-color;
        margin: 5px;

        &:hover, &.active {
            background: $primary-color;
            color: $secondary-color;
        }
    }
}

.home {
    
    .title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .information {
        line-height: 26px;
    }
}

.about {
    ul {
        list-style-type: none;

        li {
            line-height: 26px;
        }

        ul {
            margin-bottom: 50px;
        }
    }

    .title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .ask-me-about,
    .reach-me,
    .fun-fact {
        margin: 20px 5px;
    }
}

.content {
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.post-content {
    margin-top: 100px;
}